* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: url("../img/homeDash.jpg") center/cover no-repeat fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional dark overlay for readability */
.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.content {
  text-align: center;
  color: #fff;
  padding: 2rem;
  z-index: 1;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

h4 {
  margin-top: 20px;
  font-size: 1rem;
  margin-bottom: 30px;
}

.get-started-btn {
  background-color: #4CAF50;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-btn:hover {
  background-color:  #449846;
}
